<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=700, initial-scale=1.0">
    <title>Einkaufsliste</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    .header {
        height:30px;

    }
    .label {
        font-weight:bold;
    }
    .card {
        margin-bottom:20px;

    }
    .right, .addform {
    float:right;
    }

    .cards{
    clear:both;
    }

    .addform input, .label {
        margin-left:10px;
    }
</style>
</head>
<body>
<div class="container">
    <div class="row header">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-10">
    <form action="add" method="POST" class="addform">
        <div class="form-group">
            {% csrf_token %}
            <label for ="text" class="label">Produkt</label>
            <input type="text" name="text" id="text">
            <label for ="menge"class="label">Menge</label>
            <input type="text" name="menge" id="menge">
            <input type="submit" value="Hinzufügen" class="btn btn-success" name="add">
        </div>
    </form>
    <form action="refresh" method="POST" class="cards">
        <div class="form-group">
            {% csrf_token %}
            <div id="Liste" class="card">
                <div class="card-header bg-primary">Einkaufen</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Erledigt</th>
                            <th>Text</th>
                            <th>Menge</th>
                            <th>Löschen</th>
                        </tr>
                        {% for item in einkaufen %}
                        <tr>
                            <td><input type="checkbox" name="neu_erledigt" id="" value="{{item.id}}"></td>
                            <td>{{item.text}}</td>
                            <td>{{item.menge}}</td>
                            <td><a href ='delete?id={{item.id}}' class="btn btn-danger">Löschen</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div id="erledigt" class="card">
                <div class="card-header bg-primary">Erledigt</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Erledigt</th>
                            <th>Text</th>
                            <th>Menge</th>
                            <th>Löschen</th>
                        </tr>
                        {% for item in erledigt %}
                        <tr>
                            <td><input type="checkbox" name="bleiben_erledigt" id="" checked value="{{item.id}}"></td>
                            <td>{{item.text}}</td>
                            <td>{{item.menge}}</td>
                            <td><a href ='delete?id={{item.id}}' class="btn btn-danger">Löschen</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <input type="submit" class="btn btn-primary right" name='refresh' value="Erledigte Einkäufe aktualisieren">
        </div>
    </form>
            </div>
        <div class="col-sm"></div>
    </div>
</div>


</body>
</html>
